<head>
  <%= stylesheet_link_tag 'goal_sidebar' %>
</head>
<body>
<div class="sidebar_container">

  <div class="row">
    <div class="input-group">
      <input id="new-task" type="text" class="form-control" placeholder="Goals...">
      <span class="input-group-btn">
        <button class="btn btn-default" onclick="addTask()">Add</button>Go!
      </span>
    </div>
  </div>

  <ul id="incomplete-tasks">
  </ul>

  <h3>Achieved</h3>

  <ul id="completed-tasks">
  </ul>
</div>

<%= javascript_include_tag 'goal_sidebar' %>
</body>
