
<h3 class="text-center">
  <% link_to('Signup', new_user_path, class: 'text-danger') %></h3>

<%= render 'players/partials/social_media' %>

<%= render 'players/partials/video_controls' %>



<div id="hide_content">
  <h1><%= current_user.first_name.titlecase %>'s Profile</h1>
  &ensp;

  <div class="text-center">
    <%# render 'players/partials/form', player: @player %>
    &ensp;
  </div>

  <%# render 'players/partials/crud_players' %>

  <div class=".col-md-4">
    <div class="btn-group">
      <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Games <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <div id="board1" style="width: 200px;"></div>
        <div id="board2" style="width: 200px;"></div>
        <div id="board3" style="width: 200px;"></div>
      </ul>
    </div>

    <div class="text-center">
      <input type="button" id="start" value="Start" class="btn btn-info btn-xs"/>
      <input type="button" id="clear" value="Clear" class="btn btn-info btn-xs"/>
      <input type="button" id="flip" value="Flip" class="btn btn-info btn-xs"/>
      &ensp;
      <input type="button" id="ruyLopez" value="Ruy Lopez" class="btn btn-info btn-xs"/>
      <input type="button" id="checkMate" value="Checkmate" class="btn btn-info btn-xs"/>
      <input type="button" id="vanGeet" value="Van Geet" class="btn btn-info btn-xs"/>
      <input type="button" id="urusovGambit" value="Urosov Gambit" class="btn btn-info btn-xs"/>
      <input type="button" id="dutchDefence" value="Dutch Defence" class="btn btn-info btn-xs"/>
      <input type="button" id="queensGambit" value="Queen's Gambit" class="btn btn-info btn-xs"/>
      <input type="button" id="napoleon" value="Napoleon" class="btn btn-info btn-xs"/>
      <div class="col-md-6 col-md-offset-3">

        <div id="board" style="width: 400px"></div>

        <!--<button id="coolPieces" value="Cool Chess Pieces" class="btn btn-info btn-xs"/>-->
        <!--<button id="defaultPieces" value="default Chess Pieces" class="btn btn-info btn-xs"/>-->

      </div>

      <%= render 'players/partials/goal_sidebar' %>
    </div>
  </div>
</div>

