<div id="sideBar" class="text-right">
  <div id="socMedBar">
    <ul id="SocMedia" class="SocMedia">
      <a href="https://www.facebook.com/Aesk3y" target="new" class="facebook"></a>
      <a href="https://www.instagram.com/pufferfishart/" target="new" class="instagram"></a>
    </ul>
  </div>
</div>
