<div id="video-controls">
  <button type="button" class="tubular-mute btn btn-primary btn-xs">
    unMute
  </button>
  <button type="button" class="tubular-play btn btn-primary btn-xs">
    Play
  </button>
  <button type="button" class="tubular-pause btn btn-primary btn-xs">
    Pause
  </button>
</div>
